@media (max-width: 772px) {
  form {
    width: 100%;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.87rem;
  }

  h4 {
    font-size: 1rem;
  }
  input::placeholder {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
  }
  .form-check-label {
    font-size: 0.9rem;
  }
}

@media (min-width: 993px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 0.87rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1400px) {
}
